@charset "utf-8";
.name_wrap p{
  text-shadow: 0px 0px 6px purple;
}
.customer_wrap{
  background: #a18cd1;
  background: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 100%);
}
.customer_data{
  border:2px solid darkmagenta;
}
.profile_wrap p:nth-of-type(1){
  background-color: darkmagenta;
}
.sns_back{
  background: url(../images/purple_sns.png)center/auto 100% no-repeat;
}
.wrap{
  background: url(../images/purple_screen.png)center/ 100% 100% no-repeat;
}

/* アニメーション */
.star01,
.star02{
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: soft-light;
  opacity: 0;
}
.star01{
  animation: star 2s 0s infinite;
}
.star02{
  animation: star 2s 1s infinite;
}
@keyframes star{
  0%{opacity: 0.2;}
  50%{opacity: 1;}
  100%{opacity: 0.2;}
}
@media screen and (max-width:767px) {
}
@media screen and (min-width:768px) {
}

