body {
  background-color: #aaa;
}
.outside{
  max-width: 414px;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /* background-color: #ffffff; */
  overflow: scroll;
}
.wrapper {
  padding-bottom: 28px;
  position: relative;
}
.qrm-tel{
  margin: 1em auto 1em;
}
.qrm-sns {
  text-align: center;
  margin: 1em auto 1em;
  width: 280px;
}
.qrm-sns a {
  text-decoration: none;
}
.qrm-sns img {
  width: 60px;
  height: 60px;
  margin: 0 .1em .8em;
}
.qrm-vcard {
  margin: 1em auto 1em;
}
.qrm-sosiki-table tr td:first-child {
  width: 4em;
}
.qrm-offcanvas-toggle {
  display: none;
}
html[lang="ja"] .qrm-offcanvas-toggle {
  display: initial;
  /* 日本語の時だけLanguageボタンを表示する */
  position: absolute;
  top: 0;
  left: 0;
}
.qrm-qrcode-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
.qrm-button:visited,
.qrm-button:hover{
  background: #59f;
  color: #fff;
  text-decoration: none;
}
